.feature {
  padding: 94px 0 94px 0;
}

.feature__list {
  display: flex;
  padding: 0;
}

.feature__item {
  margin-right: 30px;
  width: 270px;

  &:last-child {
    margin-right: 0;
  }
}

/* Иконка(ки) SVG */
.feature__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  height: 120px;

  background: #f5f4fa;
  border-radius: 4px;
}

.feature__title {
  margin: 0 0 10px 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-color-text;
}

.feature__text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-acent;
}
